* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}
#calculadora {
    background-color: rgb(20, 111, 76);
    margin: auto;
    display: grid;
    padding: 24px;
    max-width: 600px;
    border-radius: 12px;
}
#pantalla,
.boton {
    border-radius: 8px;
}
#pantalla {
    background-color: rgb(39, 39, 39);
    min-height: 32px;
    padding: 12px;
    color: white;
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.fila-pantalla {
    min-height: 18px;
}
#operandos {
    display: flex;
    justify-content: flex-end;
}
.boton {
    background-color: whitesmoke;
    min-height: 24px;
    color: black;
    padding: 12px;
}
